.box {
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
}

h2 {
    text-align:center;
    color: black;
    margin: auto;
    font-size: 80px;
    font-family: 'Pacifico', cursive;
}

#main div {
    animation-name: example;
    animation-duration: 3s;  
    animation-fill-mode: forwards;
  }
  
  @keyframes example {
    from {top: 0px;}
    to {top: 200px;}
}

#game {
    display: none;
}

.hs__card {
    margin-top: 150px;
    padding: 0;
    border-style: double;
    display: none;
}

.rules {
    display: none;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.rules > img {
    width: 150px;
    height: 150px;
    border-style: solid;   
}
  